<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <option id="1">1. Gestion Empresa</option>
    <option id="2">2. Gestion Sede</option>
    <option id="3">3. Gestion Empleado</option>
    <option id="4">4. Gestion Persona</option>
    <option id="5">5. Asociar Sede a Empresa</option>
    <option id="6">6. Desasociar Sede Empresa</option>
    <option id="7">7. Ver Sedes de una empresa</option>
    <option id="8">8. Elegir Sede principal de una Empresa</option>
    <option id="9">9. Modificar Sede principal de Empresa</option>
    <option id="0">Salir</option>
</menu>